.Header {
    height: 100px;
    background-color: rgb(26, 236, 166);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 15px;
    padding-right: 15px;
}

.Header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.Header ul li {
    margin-right: 10px;
}

.Header ul li .links {
    color: white;
    text-decoration: none;
}